@media (max-width: 500px) {
  .hedone h1 {
    position: absolute;
    font-size: 1rem;
    top: -30px;
    left: 43px;
    font-weight: 900;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .hedone {
    position: absolute;
    /* font-size: 0rem; */
    top: 21px;
    left: 281px;
    font-size: -64px;
  }
}

@media (max-width: 500px) {
  .hedone .btn-danger {
    padding: 5px 5px;
    position: absolute;
    /* font-size: 14px; */
    top: 45px;
    left: 20px;
    font-size: -64px;
  }
}

@media (max-width: 500px) {
  .carousel-item .e-shop {
    position: absolute;
  }
}

@media (max-width: 500px) {
  .carousel-item .e-shop h1 {
    position: absolute;
    font-size: 1rem;
    top: 200px;
  }
}

@media (max-width:500px) {
  .testimonial-wrapper {
    box-shadow: 0 0 0.563rem 0 rgb(0 0 0 / 5%);
    background: var(--bg-light-white);
    /* margin: 0 10px; */
    padding: 3rem 0rem;
    border: 0.063rem solid var(--bg-light-white);
    border-radius: 0.625rem;
    width: 100%;
    height: 75%;
  }

  /* @media (max-width:500px) {

    .offer .parents,
    .parentstwo,
    .parentsthree {
      width: 100%;
      margin: 0 5px;
    }
  }

  @media (max-width:500px) {

    .margin {
      width: 100%;
      margin: 0 5px;
    }
  }

  @media (max-width:500px) {

    body {
      overflow-x: hidden;
    }
  } */